@use '../abstracts/variables' as *;

.footer {
	width: min(calc(100% - 8rem), 136rem);
	max-width: 136rem;
	display: flex;
	gap: 100px;
	padding: 100px;
	border-radius: 40px;
	background-color: $color-background-container;
	color: $color-text-inverse;

	&__social-info {
		max-width: 530px;
	}

	&-title {
		margin: 0;
		color: $color-text-inverse;

		.cursive-text {
			color: $color-accent;
		}
	}

	&__icon-box {
		display: flex;
		gap: 12px;
		margin-top: 40px;
	}

	&__icon {
		display: block;
		width: 60px;
		height: 60px;
		border: 1px solid $color-border-primary;
		border-radius: 50%;
		background-position: center;
		background-repeat: no-repeat;
		transition: background-color 0.3s ease, border-color 0.3s ease;

		&.twitter {
			background-image: url('/assets/images/icons/twitter.svg');

			&:hover {
				background-image: url('/assets/images/icons/twitter-dark.svg');
			}
		}

		&.instagram {
			background-image: url('/assets/images/icons/instagram.svg');

			&:hover {
				background-image: url('/assets/images/icons/instagram-dark.svg');
			}
		}

		&.facebook {
			background-image: url('/assets/images/icons/facebook.svg');

			&:hover {
				background-image: url('/assets/images/icons/facebook-dark.svg');
			}
		}

		&:hover {
			border-color: $color-text-inverse;
			background-color: $color-text-inverse;
		}
	}

	&__contacts {
		min-width: 400px;
		padding-top: 32px;
	}

	&__contacts-us {
		margin: 0 0 40px;
		font-size: 24px;
		font-weight: 600;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list-item,
	&__contact-link {
		display: flex;
		align-items: center;
		gap: 16px 4px;
		color: $color-text-inverse;
		font-weight: 600;
		text-decoration: none;
	}

	&__contact-link {
		width: fit-content;
	}

	&__list-icon {
		display: block;
		width: 24px;
		height: 24px;
		flex-shrink: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__list-item {
		position: relative;
		width: fit-content;
		padding-bottom: 4px;

		&:nth-child(1) .footer__list-icon {
			background-image: url('/assets/images/icons/pin-alt.svg');
		}

		&:nth-child(2) .footer__list-icon {
			background-image: url('/assets/images/icons/phone.svg');
		}

		&:nth-child(3) .footer__list-icon {
			background-image: url('/assets/images/icons/clock.svg');
		}

		&::after {
			position: absolute;
			right: 0;
			bottom: -1px;
			left: 0;
			width: 0;
			height: 1px;
			background-color: $color-text-inverse;
			content: '';
			transition: width 0.3s ease;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
}

body.dark-theme {
	.footer {
		background-color: $color-dark-container;
		color: $color-text-inverse;

		&__icon {
			border-color: $color-dark-border-primary;

			&.twitter {
				background-image: url('/assets/images/dark-theme/twitter.svg');
			}

			&.instagram {
				background-image: url('/assets/images/dark-theme/instagram.svg');
			}

			&.facebook {
				background-image: url('/assets/images/dark-theme/facebook.svg');
			}

			&:hover {
				border-color: $color-dark-page;
				background-color: $color-dark-page;
			}
		}
	}
}

@media (max-width: 1000px) {
	.footer {
		flex-direction: column;
		gap: 6rem;
		padding: 6rem;

		&__contacts {
			min-width: 0;
		}
	}
}

@media (max-width: 768px) {
	.footer {
		flex-direction: column;
		gap: 6rem;
		padding: 10rem 6rem;

		&__contacts {
			min-width: 0;
		}
	}
}

@media (max-width: 600px) {
	.footer {
		width: calc(100% - 3.2rem);
		gap: 4rem 0;
		margin-bottom: 4rem;
		padding: 6rem 1.6rem;
		border-radius: 4rem;

		&-title {
			font-size: 3.2rem;
			line-height: 1.2;
		}
    &__contacts {
			min-width: 0;
		  padding-top: 0;
	}
	}
}
