.header {
  position: relative;
  margin-top: 2rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 150%;
  &__actions {
    display: flex;
    align-items: center;
    gap: 0 2.4rem;
    margin-right: 9.6rem;
  }

}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 0 4rem;

    &__actions {
      margin-right: 0;
    }

    .burger {
      display: inline-flex;
    }
  }
}

@media (max-width: 600px) {
  .header {
    margin-top: 2rem;
    padding: 0 1.6rem;

    &__actions {
    gap: 0 1.2rem;
  }
  }
}
