@use '../abstracts/variables' as *;

.nav {
  display: flex;
  align-items: center;
  gap: 0 2.4rem;

  &__list {
    display: flex;
    gap: 0 40px;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-bottom: 0.2rem;
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      background-color: currentColor;
      border-radius: 0.2rem;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.2s ease;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.nav__menu-link {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0 0.8rem;

  &.active::after {
    transform: scaleX(1);
  }

}

@media (max-width: 870px) {
  .nav__list {
    gap: 0 20px;
  }
}

@media (max-width: 800px) {
  .nav__list {
    gap: 0 10px;
  }
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-background-page;
    z-index: 100;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 0.3s ease, visibility 0.3s ease;

    &--active {
      transform: translateX(0);
      visibility: visible;
    }

    &__list {
      flex-direction: column;
      gap: 6rem 0;
    }

    &__list,
    &__menu-link {
      font-size: 3.2rem;
      line-height: 1.25;
      text-align: center;
    }

    &__link {
      padding-bottom: 0.4rem;
    }

    &__menu-link {
      position: static;
      display: inline-flex;
      margin-top: 10rem;
      transform: none;
      align-items: center;
      gap: 0 1.6rem;

      .coffee-icon {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
