$color-text-primary: #403f3d;
$color-text-inverse: #e1d4c9;
$color-accent: #b0907a;

$color-background-page: #e1d4c9;
$color-background-container: #665f55;
$color-background-overlay: #403f3d;

$color-border-primary: #c1b6ad;
$color-border-inverse: #665f55;

$color-dark-page: #292929;
$color-dark-container: #403f3d;
$color-dark-overlay: #e1d4c9;
$color-dark-border-primary: #665f55;
$color-dark-border-inverse: #c1b6ad;

$font-family-main: 'Inter', sans-serif;
